.container {
  position: relative;
  z-index: 2;
  max-width: 1140px;
  margin: 0 auto;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  @media screen and (max-width: 450px) {
    width: 95%;
  }
}

.reveal {
  opacity: 0;
  visibility: hidden;
  transition: 0.4s ease-in;
}

.revealUp {
  transform: translateY(15px);
}

.revealDown {
  transform: translateY(-15px);
}

.revealRight {
  transform: translateX(-15px);
}

.revealLeft {
  transform: translateX(15px);
}

.revealed {
  opacity: 1;
  visibility: visible;
  transform: translate(0, 0);
}

.delay2 {
  transition-delay: 0.2s;
}

.delay4 {
  transition-delay: 0.4s;
}

.delay6 {
  transition-delay: 0.6s;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.backgroundColor {
  display: inline-block;
  background: var(--black);
  color: #fff;
  padding: 0 8px;
}

.tag {
  background-color: #f6f9f7;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 500;
  margin: 3px;
  padding: 5px 10px;
  color: var(--black);
  font-family: var(--heading-font);
}
