.app {
  position: relative;
  min-height: 100vh;
  font-family: var(--body-font);
  background: #f7f8fb;
  color: var(--black);
}

.main {
  position: relative;
  z-index: 1;
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 0;
    pointer-events: none;
    background:
      linear-gradient(
        to bottom,
        rgba(244, 255, 248, 0.44) 0%,
        rgba(247, 248, 251, 0.06) 14%,
        rgba(244, 255, 248, 0.34) 28%,
        rgba(247, 248, 251, 0.08) 42%,
        rgba(244, 255, 248, 0.32) 56%,
        rgba(247, 248, 251, 0.08) 70%,
        rgba(244, 255, 248, 0.3) 84%,
        rgba(247, 248, 251, 0.12) 100%
      ),
      linear-gradient(
        to bottom left,
        rgba(244, 255, 248, 0.32) 3.19%,
        rgba(251, 253, 254, 0) 80.54%
      );
  }
}
